
.NameLinkBox{
    display: flex;
    width: 70%;
    font-size: 20px;
    padding-bottom: 15px;
}

.AboutBox{
  padding-bottom: 20px;
}

.LinkName{
  padding-right: 10px;
}

.Navigation{
  width: 100%;
  flex-direction: row;
  display: flex;
  vertical-align: after-edge;
  justify-content: space-between;
  padding: 20px 0;

}


.TermsWrapper{
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-top: 400px;
}
