.searchBox {
  width: 100%;
  height: inherit;
  font-size: 14px;
  padding: 10px 8px 10px;
  border: none;
  outline: none;
}

.searchImage {
  background-image: url("../../../assets/images/searching.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding-right: 40px;
  width: 0.5%;
  background-color: white;
  height: inherit;
  border-radius: 10px 0 0 10px;
}

.infoBox {
  height: inherit;
  background-image: url("../../../assets/images/information.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 3.5%;
  padding-left: 40px;
  padding-right: 6px;
  background-color: white;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.wrapper {
  display: flex;
  padding:  10px;
  justify-content: center;
  flex-direction: column;
  background-color: var(--tg-theme-bg-color);
  position: fixed;
  z-index: 1001;
  left: 50%;
  transform: translateX(-50%);

}

.searchBar{
  width: 100%;
  display: flex;
  height: inherit;
}

.menuBox {
  margin-top: 20px;
  width: 100%;
  display: flex;
}

.menuItemBox{
  width: 50%;
  justify-content: center;
  text-align: center;
  color: #99999a;
  margin-top: 5px;
}

.heightLimiter {
  height: 400px;
}