.container {
  position: fixed;
  bottom: 0;
  height: 50px;
  padding-top: 5px;
  width: 100%;
  background-color: var(--tg-theme-bg-color);
  display: flex;
  justify-content: space-around;
  transition: 0.5s linear;
  z-index: 100;
}

.hidden {
  bottom: -50px;
}

.option {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  & span {
    color: #99999a;
  }
}

.active {
  & span {
    color: #2481cc;
  }
}
