html,
body {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  max-width: 1280px;
}

:root.light {
  --tg-theme-bg-color: #e0e0e0;
  --tg-theme-text-color: #000001;
  --tg-theme-hint-color: #99999a;
  --tg-theme-link-color: #2481cc;
  --tg-theme-button-color: #2481cc;
  --tg-theme-button-text-color: #fffffe;
  --tg-theme-secondary-bg-color: #fffffe;
}
